{% extends '/admin/base_admin.html.twig' %}


{% block contenu%}
    <div class="container">
        <h1 class="mb-4">  {{  app.request.get('_route') == "app_admin_formation_ajouter" ? 'Ajouter' : 'Modifier'}} une formation</h1>
        {{ form_start(form) }}
        {{ form_row(form.libelle) }}
        {{ form_row(form.description) }}
        {% if formation.photo is not null%}
            <img src="{{ asset('images/uploads/formations/' ~ formation.photo) }}" alt="">
        {% endif %}
        {{ form_row(form.photo) }}
        {{ form_row(form.type) }}
        {{ form_row(form.duree) }}
        {%  if app.request.get('_route') == 'app_admin_formation_ajouter' %}
            <button class="btn btn-success" type="submit">
                Ajouter
            </button>
        {% else %}
            <button class="btn btn-success" type="submit">Modifier</button>
        {% endif %}
        {{ form_end(form) }}
    </div>
{% endblock %}